@page "/"

@using LANMovie.Data.Entities

@inject NavigationManager NavigationManager

<PageTitle>首 页</PageTitle>

<style>
    #textArea-movieDescription::-webkit-scrollbar {
        display: none;
        overflow:scroll;
        overflow-x:hidden;
    }
</style>

@if (emptyShown)
{
    <Empty Image="images/movie.svg"
           ImageStyle='@("height: 80px")'
           Style="position:center; transform:translateY(100%);">
        <DescriptionTemplate>
        </DescriptionTemplate>
        <ChildContent>
            <Space>
                <SpaceItem>
                    <Select @bind-Value="@uploadVideoCategory"
                            DefaultValue="@VideoCategory.Movie"
		                    TItemValue="VideoCategory"
                            TItem="string"
                            LabelInValue="true"
		                    Style="width: 90px;">
		                <SelectOptions>
			                <AntDesign.SelectOption TItemValue="VideoCategory" TItem="string" Value=VideoCategory.Movie Label="电 影"/>
                            <AntDesign.SelectOption TItemValue="VideoCategory" TItem="string" Value=VideoCategory.Teleplay Label="电视剧"/>
                            <AntDesign.SelectOption TItemValue="VideoCategory" TItem="string" Value=VideoCategory.ShortVideo Label="短视频"/>
		                </SelectOptions>
                    </Select>
                </SpaceItem>
                <SpaceItem>
                    <Button type="@AntDesign.ButtonType.Primary" OnClick=@OpenUploadStep Style="width:120px;">上 传</Button>
                </SpaceItem>
            </Space>
        </ChildContent>
    </Empty>
}
else
{
    <Steps Current=uploadStepCurrent Style="position:center; width:95%; margin:auto;">
        <Step Title="Step1" Description="填写信息" Icon="form"/>
        <Step Title="Step2" Description="上传文件" Icon="cloud-upload"/>
        <Step Title="Step3" Description="完 成" Icon="smile"/>
    </Steps>
    @if(uploadVideoCategory == VideoCategory.Movie)
    {
        if(uploadStepCurrent == 0)
        {
            <br/><br/>
            <div style="position:center; width:95%; max-width:500px; margin:auto;">
                <Space>
                    <SpaceItem Style="width:100%;">名 称</SpaceItem>
                    <SpaceItem Style="width:100%; margin-left:0;">
                        <Input @bind-Value="@movie.Name" Style="width:260px; border-radius:5px;"/>
                    </SpaceItem>
                </Space>
                <Space Style="margin-top:25px;">
                    <SpaceItem>年 份</SpaceItem>
                    <SpaceItem>
                        <DatePicker @bind-Value="@publishDate" TValue="DateTime" Picker="@DatePickerType.Year" Style="width:260px; border-radius:5px;"/>
                    </SpaceItem>
                </Space>
                <Space Style="margin-top:25px;">
                    <SpaceItem>类 型</SpaceItem>
                    <SpaceItem>
                        <Select @bind-Value="@movie.Category"
                                DefaultValue="@MovieCategory.Other"
		                        TItemValue="MovieCategory"
                                TItem="string"
                                LabelInValue="true"
		                        Style="width:260px;">
		                    <SelectOptions>
			                    <SelectOption TItemValue="MovieCategory" TItem="string" Value=MovieCategory.Drama Label="情 节"/>
                                <SelectOption TItemValue="MovieCategory" TItem="string" Value=MovieCategory.Comedy Label="喜 剧"/>
                                <SelectOption TItemValue="MovieCategory" TItem="string" Value=MovieCategory.Romantic Label="爱 情"/>
                                <SelectOption TItemValue="MovieCategory" TItem="string" Value=MovieCategory.Action Label="动 作"/>
                                <SelectOption TItemValue="MovieCategory" TItem="string" Value=MovieCategory.MartialArts Label="武 侠"/>
                                <SelectOption TItemValue="MovieCategory" TItem="string" Value=MovieCategory.KungFu Label="功 夫"/>
                                <SelectOption TItemValue="MovieCategory" TItem="string" Value=MovieCategory.War Label="战 争"/>
                                <SelectOption TItemValue="MovieCategory" TItem="string" Value=MovieCategory.Thrill Label="悬 疑"/>
                                <SelectOption TItemValue="MovieCategory" TItem="string" Value=MovieCategory.Horror Label="恐 怖"/>
                                <SelectOption TItemValue="MovieCategory" TItem="string" Value=MovieCategory.Fantasy Label="神 幻"/>
                                <SelectOption TItemValue="MovieCategory" TItem="string" Value=MovieCategory.Scifi Label="科 幻"/>
                                <SelectOption TItemValue="MovieCategory" TItem="string" Value=MovieCategory.Ghost Label="鬼 片"/>
                                <SelectOption TItemValue="MovieCategory" TItem="string" Value=MovieCategory.NewYearCelebration Label="贺 岁"/>
                                <SelectOption TItemValue="MovieCategory" TItem="string" Value=MovieCategory.Other Label="其 它"/>
		                    </SelectOptions>
                        </Select>
                    </SpaceItem>
                </Space>
                <Space Style="margin-top:25px;">
                    <SpaceItem>简 介</SpaceItem>
                    <SpaceItem>
                        <TextArea @bind-Value="@movie.Description" Placeholder="请输入影片简介, 最多200字" Id="textArea-movieDescription" Style="width:260px; height:120px; border-radius:5px;" DefaultToEmptyString=true/>
                    </SpaceItem>
                </Space>
                <Space Style="margin-top:25px;">
                    <SpaceItem>导 演</SpaceItem>
                    <SpaceItem>
                        <Input @bind-Value="@movie.Director" Style="width:260px; border-radius:5px;"/>
                    </SpaceItem>
                </Space>
                <Space Style="margin-top:25px;">
                    <SpaceItem>地 区</SpaceItem>
                    <SpaceItem>
                        <Input @bind-Value="@movie.Area" Style="width:260px; border-radius:5px;"/>
                    </SpaceItem>
                </Space>
                <br/>
                <Button Type="@ButtonType.Primary" OnClick="(() => { uploadStepCurrent++; })" Style="margin-top:25px; margin-left:40px; border-radius:5px;">下一步</Button>
            </div>
        }
        else if(uploadStepCurrent == 1)
        {
            <div style="position:center; width:95%; max-width:500px; margin:auto;">
                <p Style="margin-top:80px;">封 面</p>
                <InputFile class="form-control" accept='image/*'/>
                <p Style="margin-top:40px;">视 频</p>
                <InputFile class="form-control" accept='video/*'/>
                <Space Style="margin-top:30px;">
                    <SpaceItem>
                        <Button Type="@ButtonType.Primary" OnClick="(() => { uploadStepCurrent--; })" Style="border-radius:5px;">上一步</Button>
                    </SpaceItem>
                    <SpaceItem>
                        <Button Type="@ButtonType.Primary" OnClick="(() => { uploadStepCurrent++; })" Style="border-radius:5px;">提 交</Button>
                    </SpaceItem>
                </Space>
            </div>
        }
        else
        {
            <Result Status="success"
                    Title="视频添加成功!"
                    SubTitle="视频存储路径为: Data/Videos/Movies/AH6YSA, 大小为1.9G, 总时长为126:46">
                <Extra>
                    <AntDesign.Button Type="primary" Style="border-radius:5px;">前往观影</AntDesign.Button>
                    <AntDesign.Button Style="border-radius:5px;" OnClick=NavToUpload>再次上传</AntDesign.Button>
                </Extra>
                @code{
                    void NavToUpload()
                    {
                        NavigationManager.NavigateTo("", true);
                    }
                }
            </Result>
        }
    }
    else if(uploadVideoCategory == VideoCategory.Teleplay)
    {
            
    }
    else
    {
            
    }
}