@page "/"

@using LANMovie.Data.Entities
@using LANMovie.Shared.MyForms

@inject MessageService _message
@inject NavigationManager NavigationManager

<PageTitle>首 页</PageTitle>

@if (emptyShown)
{
    <Empty Image="images/index.png"
           ImageStyle='@("height: 80px")'
           Style="position:center; transform:translateY(100%);">
        <DescriptionTemplate>
        </DescriptionTemplate>
        <ChildContent>
            <br/>
            <Space>
                <SpaceItem>
                    <Select @bind-Value="@uploadVideoCategory"
                            DefaultValue="@VideoCategory.Movie"
		                    TItemValue="VideoCategory"
                            TItem="string"
                            LabelInValue="true"
		                    Style="width: 90px;">
		                <SelectOptions>
			                <SelectOption TItemValue="VideoCategory" TItem="string" Value=VideoCategory.Movie Label="电 影"/>
                            <SelectOption TItemValue="VideoCategory" TItem="string" Value=VideoCategory.Teleplay Label="电视剧"/>
                            <SelectOption TItemValue="VideoCategory" TItem="string" Value=VideoCategory.ShortVideo Label="短视频"/>
		                </SelectOptions>
                    </Select>
                </SpaceItem>
                <SpaceItem>
                    <Button type="@AntDesign.ButtonType.Primary" OnClick="(() => { emptyShown = false; })" Style="width:120px;">上 传</Button>
                </SpaceItem>
            </Space>
        </ChildContent>
    </Empty>
}
else
{
    <Steps Current=uploadStepCurrent Style="position:center; width:95%; margin:auto;">
        <Step Title="Step1" Description="填写信息" Icon="form"/>
        <Step Title="Step2" Description="上传文件" Icon="cloud-upload"/>
        <Step Title="Step3" Description="完 成" Icon="smile"/>
    </Steps>
    @if(uploadVideoCategory == VideoCategory.Movie)
    {
        if(uploadStepCurrent == 0)
        {
            <br/><br/>
            <div style="position:center; width:95%; max-width:500px; margin:auto;">
                <MovieForm Movie="@movie"/>
                <br/>
                <Button Type="@ButtonType.Primary" OnClick="(() => { uploadStepCurrent++; })" Style="margin-top:25px; margin-left:40px; border-radius:5px;">下一步</Button>
            </div>
        }
        else if(uploadStepCurrent == 1)
        {
            <div style="position:center; width:95%; max-width:500px; margin:auto;">
                <p Style="margin-top:80px;">封 面</p>
                <InputFile class="form-control" accept='image/*' OnChange="((e) => { uploadMovieCover = e.GetMultipleFiles()[0]; })"/>
                <p Style="margin-top:40px;">视 频</p>
                <InputFile class="form-control" accept='video/*' OnChange="((e) => { uploadMovie = e.GetMultipleFiles()[0]; })"/>
                <Progress Percent=@ProgressPercent StrokeWidth=progress_stroke_width ShowInfo=progress_showInfo/>
                <Space Style="margin-top:30px;">
                    <SpaceItem>
                        <Button Type="@ButtonType.Primary" OnClick="(() => { uploadStepCurrent--; uploadMovieCover = null; uploadMovie = null; })" Style="border-radius:5px;">上一步</Button>
                    </SpaceItem>
                    <SpaceItem>
                        <Button Type="@ButtonType.Primary" OnClick=@UploadMovie Style="border-radius:5px;">提 交</Button>
                    </SpaceItem>
                </Space>
            </div>
        }
        else
        {
            <Result Status="success"
                    Title=@($"视频添加成功!")
                    SubTitle=@($"视频存储路径为 Data/Videos/Movies/{movie.Id}/{movie.VideoPath}, 视频大小为 {movie.Size}")>
                <Extra>
                    <AntDesign.Button Type="primary" Style="border-radius:5px;" OnClick=@(() => { NavigationManager.NavigateTo($"playvideo/movie/{movie.Id}"); })>前往观影</AntDesign.Button>
                    <AntDesign.Button Style="border-radius:5px;" OnClick=NavToUpload>再次上传</AntDesign.Button>
                </Extra>
                @code{
                    void NavToUpload()
                    {
                        NavigationManager.NavigateTo("", true);
                    }
                }
            </Result>
        }
    }
    else if(uploadVideoCategory == VideoCategory.Teleplay)
    {
        if(uploadStepCurrent == 0)
        {
            <br/><br/>
            <div style="position:center; width:95%; max-width:500px; margin:auto;">
                <Select @bind-Value="@uploadVideoCategory"
                            DefaultValue="@VideoCategory.Movie"
		                    TItemValue="VideoCategory"
                            TItem="string"
                            LabelInValue="true"
		                    Style="width: 90px;">
		                <SelectOptions>
			                <SelectOption TItemValue="VideoCategory" TItem="string" Value=VideoCategory.Movie Label="电 影"/>
                            <SelectOption TItemValue="VideoCategory" TItem="string" Value=VideoCategory.Teleplay Label="电视剧"/>
                            <SelectOption TItemValue="VideoCategory" TItem="string" Value=VideoCategory.ShortVideo Label="短视频"/>
		                </SelectOptions>
                    </Select>
                <Button Type="@ButtonType.Primary" OnClick="(() => { uploadStepCurrent++; })" Style="margin-top:25px; margin-left:40px; border-radius:5px;">下一步</Button>
            </div>
        }
        else if(uploadStepCurrent == 1)
        {
            
        }
    }
    else
    {
            
    }
}