@page "/playvideo/{*videoId}"

@using LANMovie.Common
@using LANMovie.Data.Access
@using LANMovie.Data.Entities
@using LANMovie.Shared.MyDescriptions
@using LANMovie.Shared.MyForm
@using LANMovie.Shared.MyVideoPlayer

@inject IJSRuntime JS
@inject MessageService _message
@inject NavigationManager NavigationManager

@if (videoCategory == VideoCategory.Movie)
{
	if(movie != null)
	{
		<Space Direction="DirectionVHType.Vertical" Style="overflow:scroll; overflow-x:hidden; height:100%; max-height:650px;" Id="list">
			<SpaceItem>
				<MovieDescriptions Movie="@movie"/>
			</SpaceItem>
			<SpaceItem Style="width:100%; margin:auto;">
				<MoviePlayer Movie="@movie" EditMovie=@(() => visiable_movieEditModal = true) DownloadMovie=@(async() => await DownloadMovie()) DeleteMovie=@(async() => await RemoveMovie())/>
			</SpaceItem>
		</Space>
		
		<Modal Title=@($"{movie.Name} ({movie.PublishTime})")
				Visible="@visiable_movieEditModal"
				OnOk=@(async() => await SaveMovieEdit())
				OnCancel=@(() => visiable_movieEditModal = false)
				Style="width:90%; margin:auto; max-width:380px;">
				<MovieForm Movie="@movie"/>
		</Modal>
	}
	else
	{
		<Empty Image="images/movie.svg"
			   ImageStyle='@("height: 100px")'
               Style="transform:translateY(150%);">
			<DescriptionTemplate>
				<p style="color:#CCC; font-size:16px;">影片未找到，请检查链接是否正确 ~</p>
			</DescriptionTemplate>
		</Empty>
	}
}
else if(videoCategory == VideoCategory.Teleplay)
{
	if(teleplay != null)
	{

	}
	else
	{
		<Empty Image="images/teleplay.svg"
			   ImageStyle='@("height: 100px")'
               Style="transform:translateY(150%);">
			<DescriptionTemplate>
				<p style="color:#CCC; font-size:16px;">影片未找到，请检查链接是否正确 ~</p>
			</DescriptionTemplate>
		</Empty>
	}
}
else if(videoCategory == VideoCategory.ShortVideo)
{
	if(shortvideo != null)
	{

	}
	else
	{
		<Empty Image="images/shortvideo.svg"
				ImageStyle='@("height: 100px")'
				Style="transform:translateY(150%);">
			<DescriptionTemplate>
				<p style="color:#CCC; font-size:16px;">影片未找到，请检查链接是否正确 ~</p>
			</DescriptionTemplate>
		</Empty>
	}
}
else
{
	<Empty Image="images/error.svg"
			ImageStyle='@("height: 100px")'
            Style="transform:translateY(150%);">
		<DescriptionTemplate>
			<a href="" style="font-size:16px;">无法播放影片，错误的链接格式 !</a>
		</DescriptionTemplate>
	</Empty>
}

@code {
	[Parameter]
	public string? VideoId { get; set; }
}

<style>
	#list::-webkit-scrollbar {
		display: none;
	}
</style>
